@use "../utils" as *;

/* Global Block Styles */

.block {
    &.has-background {
        padding: $spacing-40;
	}

	&--inner-center {
		text-align: center;
	}

	&--inner-right {
		text-align: right;
	}

}



/* Core Blocks */

.wp-block-group {
	// padding added for parity with the block editor
	padding-bottom: 0;
	padding-top: 0;
	&.is-selected,
	&.has-child-selected {
		padding-bottom: $spacing-30;
	}
}

.wp-block-quote {
	border-left: 2px solid var(--wp--preset--color--primary);
	padding-left: $spacing-50;
}

[class^="wp-block"] {
	&.alignfull {
		margin-block-start: 0;
	}
}
