@use "../utils" as *;

.btn {
    transition: all 0.2s ease;
    display: inline-block;
    padding: $spacing-20 $spacing-30;
    text-decoration: none;
    border: 5px solid $color-black;
    font-weight: bold;

    &--primary {
        background-color: $color-black;
        color: $color-white;

        &:hover, & :focus {
           background-color: $color-white;
           color: $color-black; 
        }
    }

    &--secondary {
        background-color: $color-white;
        color: $color-black;

        &:hover, & :focus {
           background-color: $color-black;
           color: $color-white; 
        }
    }
}