.btn {
    transition: all 0.2s ease;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: 5px solid black;
    font-weight: bold;

    &--primary {
        background-color: black;
        color: white;

        &:hover, & :focus {
           background-color: white;
           color: black; 
        }
    }

    &--secondary {
        background-color: white;
        color: black;

        &:hover, & :focus {
           background-color: black;
           color: white; 
        }
    }
}