@use "../utils" as *;

.btn {
    transition: all 0.2s ease;
    display: inline-block;
    padding: $spacing-20 $spacing-30;
    text-decoration: none;
    border: 5px solid $color-foreground;
    font-weight: bold;

    &--primary {
        background-color: $color-foreground;
        color: $color-background;

        &:hover, & :focus {
           background-color: $color-background;
           color: $color-foreground; 
        }
    }

    &--secondary {
        background-color: $color-background;
        color: $color-foreground;

        &:hover, & :focus {
           background-color: $color-foreground;
           color: $color-background; 
        }
    }
}