.btn {
    transition: all 0.2s ease;
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    border: 5px solid black;
    font-weight: bold;

    &.is-style-primary {
        background-color: black;
        color: white;

        &:hover, & :focus {
           background-color: white;
           color: black; 
        }
    }

    &.is-style-secondary {
        background-color: white;
        color: black;

        &:hover, & :focus {
           background-color: black;
           color: white; 
        }
    }
}