@use "../utils" as *;

.nav {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &--utility {
        font-size: $font-sm;
        justify-self: right;
        padding-bottom: $spacing-30;

        .nav-menu {
            display: flex;
            gap: $spacing-20;
        }
    }

    &--main {
        justify-self: right;
        
        .nav-menu {
            display: flex;
            gap: $spacing-50;
        }  
    }

    &--footer {
        margin-bottom: $spacing-30;

        .nav-menu {
            columns: 2;
            column-gap: $spacing-80;

            li {
                padding: $spacing-20 0;
            }
        }
    }

    &--legal {
        font-size: $font-sm;

        .nav-menu {
            display: flex;
            gap: $spacing-20;
        }
    }
}