@use "../utils" as *;


.nav {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
        }
    }

    &--utility {
        font-size: $font-sm;
        padding-bottom: $spacing-30;

        @include breakpoint(sm) {
            justify-self: right;
        }

        .nav-menu {

            @include breakpoint(sm) {
                display: flex;
                gap: $spacing-20;
            }
        }
    }

    &--main {
        
        @include breakpoint(sm) {
            justify-self: right;
        } 

        .nav-menu {

            @include breakpoint(sm) {
                display: flex;
                gap: $spacing-20;
            }

            .sub-menu {
                display: none;
                position: absolute;
            }

            .open {
                .sub-menu {
                    display: block;
                }
            }
        }
    }

    &--footer {
        margin-bottom: $spacing-30;

        .nav-menu {

            @include breakpoint(xs) {
                columns: 2;
                column-gap: $spacing-80;
            }

            li {
                padding: $spacing-20 0;
            }
        }
    }

    &--legal {
        font-size: $font-sm;

        .nav-menu {
            display: flex;
            gap: $spacing-20;
        }
    }
}