// ============================================================
// THEME VARIABLES REFERENCE
// ------------------------------------------------------------


// Theme.json
// Any changes here also need to be reflected in theme.json or
// there will be a miss match between Gutenberg blocks
// and global styling
// ============================================================


// Colors - around line 12 of theme.json
// -------------------------
$color-white: #FEFEFE;
$color-black: #181A1F;
$color-primary: #3858e9;
$color-alt-1: #6de8e8;
$color-alt-2: #f5501d;
$color-alt-3: #bd0068;


// Spacing - around line 57 of theme.json
// -------------------------
$spacing-20: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem); // 2X-Small
$spacing-30: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem); // X-Small
$spacing-40: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem); // Small
$spacing-50: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem); // Medium
$spacing-60: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem); // Large
$spacing-70: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem); // X-Large
$spacing-80: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);     // 2X-Large

// Gaps & Containers
$block-gap: 1.5rem;
// Container is set in layout properties of theme.json
// They should be edited there and are applied to content
// inside the class .is-layout-constrained
// Default is contentSize, nesting .alignwide inside 
// .is-layout-constrained will apply the wideSize container



// Typography around line 96 of theme.json
// -------------------------
$font-accent: "EBGaramond", sans-serif;
$font-main: "Inter", serif;

// Font sizes (fluid)s
$font-sm: small;
$font-paragraph: 1.25rem;
$font-h6: 1.56rem;
$font-h5: 1.95rem;
$font-h4: 2.44rem;
$font-h3: 3.05rem;
$font-h2: 3.82rem; 
$font-h1: 5.96rem; 
$font-large: 4.77rem;



// ==========================================================
// ADDITIONAL VARIABLES
// ------------------------------------------------------------
// This file contains additional variables used within the site.
// Some variables, particularly color, spacing, and font related, should be
// in theme.json section
//
// ============================================================
