.wp-block-think-shift-hello-world {
	h3 {
		margin: 0;
	}
	.hello-world-image {
		position: relative;
		&:hover,
		&:focus {
			cursor: pointer;
		}

		// make the button invisible
		button {
			border: none;
			padding: 0;
			display: block;
		}
	}
}

.wp-block-think-shift-hello-world .hello-world-image {
	.components-resizable-box__container {
		display: block;
	}
}
