@use "../utils" as *;

.site-header {

    &__content {

        @include breakpoint(sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 150px;
        }
        
    }
}