@use "../../scss/utils" as *;

.block--testimonial {

    figure {

        @include breakpoint(xs) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 0;
            grid-row-gap: 0;
        }

        @include breakpoint(sm) {
            grid-template-columns: auto 1fr;
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 0;
            grid-row-gap: 0;
        }
    }

    .testimonial__image {
        width: 150px;
        margin-right: 30px;
        grid-area: 1 / 1 / 2 / 2;

        @include breakpoint(sm) {
            margin-top: 1em;
            grid-area: 1 / 1 / 2 / 2;
        }
    }

    blockquote {
        margin: 0;
        grid-area: 2 / 1 / 3 / 3;

        @include breakpoint(sm) {
            grid-area: 1 / 2 / 2 / 3;
        }
    }

    figcaption { 
        grid-area: 1 / 2 / 2 / 3;

        @include breakpoint(sm) {
            grid-area: 2 / 2 / 3 / 3; 
        }
    }

    cite {
        font-size: 1rem;
        font-style: normal;
        span {
            display: block;
            font-size: 0.8rem;
            font-style: italic;
        }
    }
}
